
<header>
<ul>
	
	<li><a href="/home"> Home</a></li>
	<li><a href="/addincome">Add Income</a></li>
	<li><a href="/addexpense">Add Expense</a></li>
	<li><a href="/expense">Expenses</a></li>
	<li><a href="/income">incomes</a></li>
	</ul>


</header>